div {
  padding: 0px, 0px, 0px, 0px;
  margin: 0px, 0px, 0px, 0px;
}

body {
  padding: 0px, 0px, 0px, 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Chip {
  margin: 15px;
  padding: 15px;
}